/* =========================================== GERAL ===================================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* =========================================== HEADER ===================================================*/
h3{
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    background-color: teal;
    font-family: 'Fira Sans', sans-serif;
}
header{
    margin: 5vh;
}


/* =========================================== CARD ===================================================*/

#card{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
}


/* =========================================== AVATAR ===================================================*/

img{
    border-radius:50%;
    margin-left: 3vh;
    height: 200px;
    width: 200px;
}
/* =========================================== INFOS ===================================================*/
#infos{
  display: flex;
  flex-direction: column;
  margin: 4vh 0vh 0vh 8vh;
  
}

#usuario{
    padding-bottom: 5px;
}
  

/* =========================================== BIO ===================================================*/
#bio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    padding-bottom: 25px;

}

/* =========================================== FOOTER ===================================================*/
footer{
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    background-color: teal;
    font-family: 'Fira Sans', sans-serif;
}
a{
    color: whitesmoke;
}
#avatar{
    color:white
}

@media only screen and (max-width: 498px){
    #infos{
        margin-left: 4vh;
        align-items: center;
    }
    #card{
        flex-direction: column;
        align-items: center;
    }
    #bio{
        text-align: center;
    }
    #usuario{
        padding-bottom: 10px;
    }
}
